<div class="dropdown">
    <button
        type="button"
        class="button button-outline button-md"
        data-dropdown-trigger="{{ dropdown_id }}"
        aria-expanded="false"
    >
        {{ label }}

        <span class="icon icon-chevron-down"></span>
    </button>

    <div
        id="{{ dropdown_id }}"
        class="dropdown-menu"
        data-dropdown
    >
        {% for item in items %}
            <a
                href="{{ item.url }}"
                class="dropdown-item"
            >
                {% if item.icon %}
                    <span class="icon icon-{{ item.icon }}"></span>
                {% endif %}

                {{ item.label }}
            </a>
        {% endfor %}
    </div>
</div>