APP_NAME=Tesis Evaluasi
APP_ENV=development
DEBUG=true

SECRET_KEY=change-this-secret-key

DATABASE_URL=postgresql+psycopg://tesis_app:change-password@localhost:5432/tesis_evaluasi

SESSION_COOKIE_NAME=tesis_session
SESSION_MAX_AGE=28800

STORAGE_TEMPLATE_DIR=storage/templates
STORAGE_GENERATED_DIR=storage/generated
